@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
.page {
    background-color: #bb81cd;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    --word-length: 5;
}

.title {
    color: #9b3294;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}
.keyboard__key {
    font-size: 1em;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #853e71;
    border: none;
    color: #fff;
}
.keyboard__key:hover {
    background-color: #59254b;
    color: #eccef5;
}
.keyboard__key:active {
    background-color: #38162f;
    color: #eccef5;
}
.keyboard > div {
    white-space: nowrap;
}
.keyboard.fullwidth {
    width: 100%;
    font-size: 3vw;
}
.keyboard.fullwidth > div {
    width: 100%;
    display: flex;
    gap: 0.2em;
}
.keyboard.fullwidth .keyboard__key {
    flex-basis: 100%;
    padding: 0.5em;
}
.board {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    gap: 0.2em;
    margin-bottom: 0.3em;
}
.board__letter-row {
    display: flex;
    gap: 0.2em;
    width: 100%;
}
.board__letter-row--letter-box {
    outline: 0.06em solid #bab1ca;
    background-color: #d3dee8;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    border-radius: 0.08em;
    min-width: 1.5em;
    flex-basis: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.board__letter-row--letter-box.correct {
    background-color: #51693d;
}
.board__letter-row--letter-box.exists {
    background-color: #f0f0d3;
}
.board__letter-row--letter-box.incorrect {
    background-color: #bab1ca;
}
.board.fullwidth {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em 0;
}
.board.autoResize {
    padding: 0 0.5em;
}

.filled-box {
    outline-color: #370515;
}

.letter-row {
    display: flex;
}

#userFeedbackText {
    font-family: "Dosis", sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 5vw;
}